<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
    <head>
        <title>Lista de filmes</title>
        <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
    </head>
    <body>
        <div layout:fragment="conteudo">
            <h1>Lista de filme</h1>
            <a href="/filmes/formulario">Novo</a>
            <table>
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>DURAÇÃO</th>
                        <th>ANO DE LANÇAMENTO</th>
                        <th>GÊNERO</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="filme : ${lista}"> <!-- usara o loop para listar -->
                        <td th:text="${filme.nome}"></td> <!-- Acessa o conteúdo da variavel aqui tem de referenciar a classe -->
                        <td th:text="${filme.duracaoEmMinutos}"></td>
                        <td th:text="${filme.anoLancamento}"></td>
                        <td th:text="${filme.genero}"></td>
                        <td>
                            <a th:href="@{/filmes/formulario?id={id}(id=${filme.id})}">Editar</a> <!-- usar esse padrão -->

                            <form action="/filmes" method="post">
                                <input type="hidden" name="_method" value="delete"> <!-- contornando limitação do html que so aceita get ou post-->
                                <input type="hidden" name="id" th:value="${filme.id}"> <!-- ler o id do filme que esta sendo clicado-->
                                <input type="submit" value="Excluir">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>